/* Flexicontact 10.06 */

.fc_outer {border:1px solid lightgray; padding:10px; background-color:whitesmoke; border-radius:5px;}

.fc_form label, .fc_form input, .fc_form textarea, .fc_form select
    {font: normal normal normal 15px Arial, Tahoma, sans-serif;}

.fc_form label, .fc_form input, .fc_form select
    {height:20px;}
    
div.fc_line {box-sizing:content-box; clear:left; margin-top:5px; line-height:24px;}
    
div.fc_line input, div.fc_line select, div.fc_line textarea {border:1px solid #B3B3B3; border-radius:4px; transition:border-color 0.4s ease 0s; }
div.fc_line input:hover, div.fc_line textarea:hover, div.fc_line select:hover {outline:none; border-color:#0079C1;}
div.fc_line input:focus, div.fc_line textarea:focus, div.fc_line select:focus {outline:none; border-color:#0079C1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color:#e9322d; box-shadow:0 0 6px #f8b9b7; }
  
.fc_error {display:block; font-size:small; color:red; margin-left:22%;}
  
.fc_image_inner      {text-align: center;}
.fc_image_inner img  {display:inline;}
.fc_images .fc_error {margin-left:0;}
.fc_inactive         {border-radius:5px; border:2px solid transparent;}
.fc_active           {border-radius:5px; border:2px solid red; box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.63);}

.fc_form label.fc_left          {display:inline-block; text-align:right; width:20%; max-width:20%; margin:0 1% 4px 0; vertical-align:bottom;}
.fc_form label.fc_right         {display:inline-block; text-align:left;  margin:0; vertical-align:bottom;}
.fc_form label.fc_textarea      {vertical-align:top; }
.fc_form input[type="checkbox"] {display: inline-block; margin-right:5px; vertical-align:bottom;}
.fc_form input[type="text"],
.fc_form input[type="email"]    {margin:0; width:70%; max-width:90%; padding:4px 6px;}
.fc_form textarea               {margin:0; width:70%; max-width:90%; padding:4px 6px; height:auto;}
.fc_form input[type="submit"]   {width:auto !important; height:auto !important;}
.fc_form select                 {width:auto; margin:0; height:28px !important;}

input.fc_button {background-color:#0079C1; border:1px solid #2F5BB7; border-radius:3px;
                    min-width:65px; margin:2px 2px 2px 5px; padding:5px;
                    text-shadow:0 1px rgba(0, 0, 0, 0.1); text-align:center;
                    font-size:15px; color:white !important; cursor:pointer;}
input.fc_button:hover    {background-color:#0285D2; }
input.fc_button:disabled {background-color:#0079C1; opacity:0.6; border:none; cursor:not-allowed;}

@media screen and (max-width: 800px) 
{
    .fc_line label.fc_left {display:block; text-align:left; width:auto; max-width:90%;}
    .fc_line input[type="text"], .fc_form input[type="email"], .fc_line textarea {width:95%; max-width:95%;}
    .fc_error {margin-left:0; }
}


