//GENERAL
h2 {
  color: #272727;
  display: inline-block;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  margin-bottom: 45px;
  }

.flex-parent {
  display: flex;
  position: relative;
  //padding: 0 !important;
  }

.flex-chiled {
  flex: 1;
  }

.t3-megamenu .mega-col-nav {
  margin: 0;
  padding: 0;
  }

.section-bottom {
  margin-bottom: 30px;
  }

.section-top {
  margin-top: 50px;
  }

h3.section-title {
  margin-bottom: 40px;
  display: block;
  font-size: 36px;
  line-height: 36px;
  background: url(../../../../images/section-title-bg.png) repeat-x center left;
  &.text-center {
    span {
      padding: 5px 35px;
      }
    }
  &.text-left {
    span {
      padding: 5px 30px 5px 0;
      }
    }
  span {
    background: #fff none repeat scroll 0 0;
    color: #272727;
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    line-height: 26px;
    }
  }

//GRID GALLERY
.grid {
  line-height: 0;
  column-count: 2;
  column-gap: 10px;
  display: inline-block;
  margin-bottom: 25px;
  .grid-item {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      }
    }
  }

//SLICK SLIDER
.slick-slider {
  margin-bottom: 20px;
  img {
    width: 100%;
    }
  .prevArrow, .nextArrow {
    position: absolute;
    color: #fff;
    z-index: 2;
    border: 3px solid #ffffff;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    &:hover {
      background: #012f5d;
      border: 3px solid #012f5d;
      background-clip: padding-box;
      }
    }
  .prevArrow {
    left: 20px;
    }
  .nextArrow {
    right: 20px;
    }
  }

//END GENERAL

//HOME PAGE
.call-to-action {
  margin-top: -130px !important;
  }

.about-section {
  p {
    font-size: 16px;
    color: #9e9e9e;
    font-weight: 300;
    }
  .grid {
    column-count: 3 !important;
    }
  }

.our-features {
  background-image: url('../../../images/feature-bg.jpg');
  background-size: cover;
  background-position: center;
  &:before {
    display: block;
    }
  }

.panel-group {
  margin: 0;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.07000000000000001);
  display: inline-block;
  .panel.panel-default {
    border: 0;
    }
  .question-title {
    padding: 17px 20px;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: capitalize;
    cursor: pointer;
    h3 {
      font-size: 16px;
      font-weight: 600;
      }
    a {
      display: block;
      }
    .panel-heading {
      background-color: #fff;
      border: 0;
      a:before {
        content: '\f067 ';
        font-family: 'FontAwesome';
        font-weight: normal;
        font-size: 14px;
        width: 35px;
        height: 40px;
        line-height: 40px;
        background: #F4F4F4;
        color: #9E9E9E;
        display: inline-block;
        text-align: center;
        transition: all 0.5s ease;
        margin-right: 5px;
        }
      &.active a:before {
        content: '\f068 ';
        font-family: 'FontAwesome';
        font-weight: normal;
        font-size: 14px;
        width: 35px;
        height: 60px;
        line-height: 60px;
        background: #012f5d;
        color: #fbca00;
        display: inline-block;
        text-align: center;
        transition: all 0.5s ease;
        margin-right: 5px;
        }
      }
    .panel-body {
      border: 0;
      }
    }
  }

.team-section {
  .content-wrapper {
    width: 100%;
    }
  .person-img {
    overflow: hidden;
    position: relative;
    img {
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
        }
      }
    }
  .person-name {
    color: #272727;
    font-size: 22px;
    font-weight: 500;
    padding-top: 15px;
    }
  .designition {
    color: #fbca00;
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0 12px 0;
    }
  .phone, .mail {
    color: #012f5d;
    font-weight: 300;
    }
  .mail a, a:hover {
    color: inherit;
    }
  }

.call-to-action-home {
  padding: 40px 0;
  .description {
    margin: auto;
    width: 50%;
    }
  }

.reviews {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #f3f3f3;
  .section-title {
    span {
      background-color: #f3f3f3;
      }
    }
  }

.subscription {
  background-color: #212121;
  padding: 30px 0 30px 0;
  .section-title {
    span {
      background-color: #212121;
      color: #fff;
      }
    }
  .acysubbuttons {
    padding-right: 0 !important;
    .btn {
      float: right;
      }
    }
  }

//END HOME PAGE

//ABOUT PAGE
.fact-counter-section {
  .animated-number {
    font-size: 36px;
    line-height: 36px;
    color: #012f5d;
    font-weight: bold;
    }
  .animated-number-title {
    color: #9E9E9E;
    font-weight: 500;
    font-size: 16px !important;
    margin: 0;
    line-height: 18px;
    }
  .icon-box {
    float: right;
    display: inline-block;
    i {
      font-size: 64px;
      color: #fbca00;
      display: block;
      margin-top: 10px;
      }
    }
  }

.call-to-action-brand {
  padding: 5px;
  }

//END ABOUT PAGE

//OUR SERVICES PAGE
.service-test {
  .tab-column {
    padding: 0 !important;
    }

  .tab {
    float: left;
    display: inline-block;
    margin-right: 20px;
    }

  a {
    display: block;
    background: #eeeeee;
    border-radius: 0px;
    font-size: 16px;
    color: #272727;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 5px;
    padding: 15px 20px;
    border-left: 4px solid transparent;
    transition: all 0.5s ease;
    &:hover {
      background: #012f5d;
      border-color: #fbca00;
      color: #ffffff;
      }
    &.active {
      background: #012f5d !important;
      border-color: #fbca00;
      color: #ffffff;
      }
    }

  .single-img {
    margin-bottom: 15px;
    margin-right: 20px;
    img {
      width: 100%;
      height: auto;
      }
    }
  }

//END OUR SERVICES

//CONTACT PAGE
.bt-googlemaps {
  z-index: 1;
  float: left;
  }

.top-section{
  background-color:rgba(9,50,91,1) ;
  overflow: hidden;
  }

.form-module{
margin-top: 40px;
  h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    }
  }
.home-contact-form.contact-form {
  width: 65%;
  z-index: 3;
  margin: auto;

  &:before {
    z-index: 2;
    transform: skewX(190deg);
    content: "";
    position: absolute;
    left: -41px;
    display: block;
    height: 142%;
    width: 75px;
    background-color: rgba(9, 50, 91,1);
    bottom: -115px;
    }
  form {
    width: 100%;
    #name, #email {
      display: inline-block;
      height: 40px;
      }
    #name {
      width: 40%;
      }
    #email {
      width: 59%;
      }
    #message {
      resize: none;
      width: 100%;
      height: 100px;
      margin-top: 15px;
      }
    }
  button {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    }
  }

.contact-info {
  .single-contact-info {
    height: 100%;
    word-break: break-word;
    &.text-box {
      padding-right: 10px;
      p {
        line-height: 30px;
        }
      h3 {
        display: inline-block;
        }
      }
    }
  a {
    color: inherit;
    }
  }

//END CONTACT PAGE

//FOOTER
.footer {
  .module-sitemap {
    ul {
      column-count: 2;
      column-rule: 1px solid #252525;
      li {
        a {
          display: inline-block;
          color: #fff;
          font-size: 16px;
          line-height: 25px;
          transition: all 0.5s ease;
          font-weight: 400;
          &:hover {
            color: #fbca00;
            background: transparent;
            }
          &:active {
            background-color: transparent;
            }
          }
        }
      }
    }
  .module-contact {
    margin-right: 15px;
    .contact-wrapper {
      padding-top: 20px;
      > div {
        border-bottom: 1px solid #252525;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
          border: 0;
          }
        }
      i {
        font-size: 29px;
        color: #fbca00;
        padding-right: 30px;
        }
      h3 {
        display: inline;
        margin: 0;
        color: #F4F4F4;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        }
      a {
        color: inherit;
        }
      }
    }
  }

//END FOOTER

@media only screen and (max-width: 767px) {
  #t3-mainnav {
    .container {
      padding-right: 0 !important;
      }
    }
  .our-features {
    .sppb-col-md-12 {
      padding: 0 !important;
      }
    }
  .slick-slide {
    height: 250px !important;
    }
  .about-page {
    padding: 0 !important;
    .slick-gallery.slick-slider {
      margin-right: -30px !important;
      margin-left: -30px !important;
      }
    }
  .our-features .single-our-feature {
    border-bottom: 1px solid #fbca00;
    }
  .contact-info {
    padding: 0 !important;
    margin-top: -40px !important;
    .sppb-col-md-12 {
      padding: 0 !important;
      }
    .flex-parent {
      display: block;
      }
    }
  .module-contact {
    .contact-wrapper {
      i {
        padding-right: 10px;
        }
      }
    }
  }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  }

@media only screen and (max-width: 992px) {
  .bt-googlemaps {
    width: 100% !important;
    &:before {
      content: none;
      }
    }
  .home-contact-form.contact-form {
    width: 70% !important;
    margin-top: 20px;
    left: 0;
    form {
      #email {
        width: 58%;
        }
      }
    }
  .team-section .person-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    }
  }

















